@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  overscroll-behavior-y: none;
}

/* Hide scrollbars for all elements (Webkit browsers) */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbars for Firefox */
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}